<header>
  <div class='header-main-wrapper d-flex align-items-center justify-content-between px-3'>
    <div class='header-logo-wrapper'>
      <img src="https://angular.io/assets/images/logos/angular/angular_whiteTransparent.png" alt="logo" class='h-100 w-100'>
    </div>
    <div class='header-menu-wrapper'>
      <div>
        <button type="button" class="btn warn  mr-2">Login</button>
        <button type="button" class="btn basic ">Register</button>
      </div>
    </div>
  </div>
</header>
