
<div class='upload-images'>
  <div class='d-flex justify-content-end w-100 header-images-uploader pb-2'>
    <div class='d-flex align-items-center justify-content-left w-100 mr-2'>
      Add photo to advert (max 5)
    </div>
      <div class='btn warn' (click)='callAddingFile()'>Select file</div>
  </div>
  <div class='file-list py-2'>
    <div class='title-to-upload' *ngIf="filesList?.length > 0">
        <h5>To upload:</h5>
    </div>
    <div class="file-item d-flex justify-content-between align-items-center pb-2" *ngFor="let file of filesList"> 
      <div class='w-100'>
          {{file.name}}
      </div>
      <div class='remove-icon mr-3' (click)='removeFile(file)'> 
        <fa name='times'></fa>
      </div>
    </div>
    <div class='title-uploaded' *ngIf="baseList?.length > 0">
        <h5>Uploaded:</h5>
    </div>
    <div class='d-flex'>
      <div class="file-item d-flex justify-content-between align-items-center uploaded-image position-relative mr-2" *ngFor="let image of baseList"> 
        <img [src]="image.file" alt="prodImage">
          <fa name='times' class='remove-icon-uploaded' (click)='removeFile(image)'></fa>
      </div>
    </div>
  </div>
    <input type="file" id='file-container' (change)="addNewImage($event)" class='d-none'>
</div>
