@import '../../../assets/styles/variables'
.upload-images
    padding: 10px
    width: 400px
    margin: 5px 0px 5px 0px
    background-color: $basic
    color: $white
    font-size: 18px

.file-list
    max-height: 200px
    overflow-y: scroll

.remove-icon
    color: $warn-color
    font-size: 18px
    cursor: pointer

.remove-icon-uploaded
    color: $warn-color
    font-size: 18px
    cursor: pointer
    position: absolute
    top: 0
    right: 0
    background: $white
    display: flex
    align-items: start

.header-images-uploader
    border-bottom: 1px solid $white
.uploaded-image
    height: 70px
    width: 70px
    & img 
        width: 100%
        height: 100%
        border: 1px solid $white
     